head
	head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='viewport', content='width=device-width,initial-scale=1')

	title= appName+' - '+title
	meta(http-equiv='Content-type', content='text/html;charset=UTF-8')

	//Add JS files
	script(src="/lib/Chart.js/Chart.min.js")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/lib/gridster/dist/jquery.gridster.with-extras.min.js")
	script(src="/lib/socket.io-client/dist/socket.io.min.js")

	//Add CSS files
	link(rel="stylesheet", href="/lib/gridster/dist/jquery.gridster.css")
	link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/css/common.css")
