extends layouts/default

block form
	div.chart-form
		form(role="form")
			div.form-group
				label(for="chartType") Choose Chart
				select.form-control(id="chartType")
					option(value="Pie") Pie Chart
			button(type="submit" class="btn btn-default") Add

block content
	div.gridster
		ul
			li(data-row="1" data-col="1" data-sizex="1" data-sizey="1")
				center
					a(href="/signout") Sign Out
					br
					a(class="add-chart" href="#") Add Chart
					br
					a(class="save-charts" href="#") Save Chart layout
					br
					a(class="remove-charts" href="#") Remove Charts

block scripts
	script(src="/js/socket.js")
